includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 1
  paths:
    - resources
    - src
    - tests
  editorUrl: '%%relFile%%:%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
